@model UsuarioModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Criar Usuario";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
        <button type="button" class="alert alert-danger btn-sm close-alert">X</button>
        @TempData["MensagemErro"]
    </div>
}

<br />

<div class=" bg-light" style="padding: 4vh">

    <div class="text-center">
        <h3 class="display-4">@ViewData["Title"]</h3>
    </div>


    <form asp-controller="Usuarios" asp-action="Criar" method="post">
        <div class="form-group">
            <label for="Matricula" class="form-label d-grid gap-2 d-md-flex justify-content-md-start">Matrícula</label>
            <input type="text" asp-for="Matricula" class="form-control" placeholder="Digite Matricula">,
            @Html.ValidationMessageFor(x => x.Matricula)
            <span asp-validation-for="Matricula"></span>
        </div>
        <div class="form-group">
            <label for="Nome" class="form-label d-grid gap-2 d-md-flex justify-content-md-start">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite Nome Completo">
            <span asp-validation-for="Nome"></span>
        </div>
        <div class="form-group">
            <label for="Cargo" class="form-label d-grid gap-2 d-md-flex justify-content-md-start">Cargo</label>
            <input type="text" asp-for="Cargo" class="form-control" placeholder="Nome do Cargo">
        </div>
        <div class="form-group">
            <label for="DataNascimento" class="form-label d-grid gap-2 d-md-flex justify-content-md-start">Data de Nascimento</label>
            <input type="date" asp-for="DataNascimento" class="form-control" placeholder="Digite Data">
            <span asp-validation-for="DataNascimento"></span>
        </div>
        <div class="form-group">
            <label for="Senha" class="form-label d-grid gap-2 d-md-flex justify-content-md-start">Senha</label>
            <input type="password" asp-for="Senha" class="form-control" placeholder="Digite senha">
        </div>
        <div class="form-group row d-grid gap-2 d-md-flex justify-content-md-start">
            <label for="Nome" class="form-label col">Usuário Administrador</label>
            <input type="checkbox" asp-for="Admin" class="form-check-label col " placeholder="Usuário é Admin">
        </div>


        <div class="d-grid gap-2 d-md-flex justify-content-md-center" role="button">

            <table>
                <tr>
                    <td>
                        <button type="submit" class="btn btn-success">Criar</button>
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-controller="Usuarios" asp-action="Index" role="button">Voltar</a>
                    </td>
                </tr>
            </table>
        </div>
    </form>

</div>
