@model LoginModel

@{
    Layout = "_Layout - Deslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
<div class="alert alert-danger" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill" /></svg>
    <button type="button" class="alert alert-danger btn-sm close-alert">X</button>
    @TempData["MensagemErro"]
</div>
}


<div>
    <div style="padding-top: 30vh; padding-left:60vh; padding-right: 60vh;">


        <div class="text-black" style="background: #d5d5d5">
            <br />

            <h1 class="d-flex justify-content-center text-black">@ViewData["Title"]</h1>

            <div class="d-flex justify-content-center d-flex align-items-center text-black">
                <div class="mb-3 row">
                    <form asp-controller="Login" asp-action="Entrar" method="post">
                        <br />
                        <div class="mb-3">
                            <label for="Login" class="form-label">Login</label>
                            <input type="text" asp-for="Login" class="form-control" id="inputLogin">
                            <span asp-validation-for="Login"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Senha" class="form-label">Senha</label>
                            <input type="password" asp-for="Senha" class="form-control" id="inputSenha">
                            <span asp-validation-for="Senha"></span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>